@charset "UTF-8";
/* CSS Document */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wapper{
	margin: 0 auto;
}

#transcript{
	font-size: 1600px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.vidWrap{
	margin: 0 auto;
}
@media (min-width: 768px){

	.wrapper{
		width: 100%;
		font-size: 18px;
	}
	
	 .vidWrap {
		max-width: 852px;
		margin: 0 auto;
	}
	
	div.audio-player {
    position: relative;
    width: 80%;
    height: auto;
	}
}
